@model Recitopia.Models.Nutrition

@{
    ViewBag.Title = "Create";
}

<table style="width:100%" class="table table-borderless rounded-sm box effect8">
    <tr>
        <th style="font-size:20px;background-color:blanchedalmond">
            New Nutritional Item
        </th>
    </tr>

</table>
<br />


    <div style="width:350px;font-size:13px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Nutrition_Item" class="control-label" style="font-weight:bold"></label>
                <input asp-for="Nutrition_Item" class="form-control"  style="font-size:13px"/>
                <span asp-validation-for="Nutrition_Item" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ShowOnNutrientPanel" /> <font style="font-weight:bold">@Html.DisplayNameFor(model => model.ShowOnNutrientPanel)</font>
                </label>
            </div>

            <div class="form-group">
                <label asp-for="OrderOnNutrientPanel" class="control-label" style="font-weight:bold"></label>
                <input asp-for="OrderOnNutrientPanel" class="form-control"  style="font-size:13px"/>
                <span asp-validation-for="OrderOnNutrientPanel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DV" class="control-label" style="font-weight:bold"></label>
                <input asp-for="DV" class="form-control"  style="font-size:13px"/>
                <span asp-validation-for="DV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measurement" class="control-label" style="font-weight:bold"></label>
                <input asp-for="Measurement" class="form-control"  style="font-size:13px"/>
                <span asp-validation-for="Measurement" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn alert-success effect8" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>


