@model Recitopia.Models.Nutrition

@{
    ViewBag.Title = "Create";
}

<table width="100%" class="table-borderless">
    <tr>
        <th style="font-size:30px;background-color:blanchedalmond">
            New Nutritional Item
        </th>
    </tr>

</table>


<div class="row">
    <div style="width:350px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Nutrition_Item" class="control-label"></label>
                <input asp-for="Nutrition_Item" class="form-control" />
                <span asp-validation-for="Nutrition_Item" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ShowOnNutrientPanel" /> @Html.DisplayNameFor(model => model.ShowOnNutrientPanel)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="OrderOnNutrientPanel" class="control-label"></label>
                <input asp-for="OrderOnNutrientPanel" class="form-control" />
                <span asp-validation-for="OrderOnNutrientPanel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DV" class="control-label"></label>
                <input asp-for="DV" class="form-control" />
                <span asp-validation-for="DV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measurement" class="control-label"></label>
                <input asp-for="Measurement" class="form-control" />
                <span asp-validation-for="Measurement" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn alert-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


