@model IEnumerable<Recitopia.Models.Components>

@{
    ViewBag.Title = "Allergens";
}
<table style="width:100%" class="table table-borderless rounded-sm box effect8">
    <tr class="pageBanner">
        <th>
            Allergens
        </th>
    </tr>
</table>
<br />
<div ng-app="myApp" ng-controller="Allergen" class="container-fluid" style="font-size:13px">
    @* Use ng-controller *@
    
    
        <table style="width:100%" class="table table-condensed table-hover table-striped table-bordered table-responsive-lg">
            <tr>
                <th  class="AngularTableHeaderColor" style="vertical-align:bottom">
                    <a href="" ng-click="changeSorting('component_Name')"><font style="color:black">Allergen Name</font></a>
                    <i class="fa fa-caret-left" ng-class="getIcon('component_Name')"></i>
                </th>
                <th  class="AngularTableHeaderColor d-none d-lg-table-cell" style="vertical-align:bottom">Notes</th>
                <th style="text-align:right"  class="AngularTableHeaderColor"><a href="@Url.Action("Create", "Components")" class="btn alert-success btn-sm" role="button"><i class="fa fa-plus"></i> Add Allergen</a></th>

            </tr>
            <tr>
                <td style="padding:1px;height:20px;font-size:13px"><input placeholder="Filter" style="padding:1px;height:20px;width:100%" ng-model="f.component_Name"></td>
                <td class=" d-none d-lg-table-cell" style="padding:1px;height:20px;font-size:13px"></td>
                <td></td>
            </tr>
       

            <tr ng-repeat="allergen in Allergens | filter:f | orderBy:sort.active:sort.descending">
                @* Fetch All the Vendor record using ng-repeat *@

                <td style="height:15px;padding:1px">{{allergen.component_Name}}</td>
                <td class=" d-none d-lg-table-cell" style="height:15px;padding:1px">{{allergen.notes}}</td>

                
                <td style="height:15px;padding:1px;text-align:right;vertical-align:central;width:150px">
                    <button ng-click="RedirectToEdit(allergen)" class="btn btn-outline-success AngularButtons">
                        <i class="fa fa-pen"></i>
                    </button> |
                    @*<button ng-click="RedirectToDetails(allergen)" class="btn btn-outline-info AngularButtons">
                        <i class="fa fa-clipboard"></i>
                    </button> |*@

                    <button ng-click="DelAllergen(allergen)" class="btn btn-outline-danger AngularButtons">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>

        </table>
   
</div>
<div>
    <a href="@Url.Action("Create", "Components")" class="btn alert-success effect8" role="button"><i class="fa fa-plus"></i> Add Allergen</a>
</div>
