@model IEnumerable<Recitopia.Models.Vendor>
@**@
@{
    ViewBag.Title = "Vendors";
}

<table width="100%" class="table table-borderless">
    <tr class="pageBanner">
        <th>
            Vendors
        </th>
    </tr>
</table>

    
<div ng-app="myApp" ng-controller="Vendors" class="container-fluid" style="font-size:13px">
    @* Use ng-controller *@
  

    <table width="100%" class="table table-condensed table-hover table-striped table-bordered table-responsive-lg">
        <tr>
            <th  class="AngularTableHeaderColor" style="vertical-align:bottom">
                <a href="" ng-click="changeSorting('vendor_Name')"><font style="color:black">Vendor Name</font></a>
                <i class="fa fa-caret-left" ng-class="getIcon('vendor_Name')"></i>
            </th>
            <th  class="AngularTableHeaderColor d-none d-lg-table-cell" style="vertical-align:bottom">
                <a href="" ng-click="changeSorting('email')"><font style="color:black">Email</font></a>
                <i class="fa fa-caret-left" ng-class="getIcon('email')"></i>
            </th>
            <th   class="AngularTableHeaderColor d-none d-lg-table-cell" style="vertical-align:bottom">
                <a href="" ng-click="changeSorting('phone')"><font style="color:black">Phone</font></a>
                <i class="fa fa-caret-left" ng-class="getIcon('phone')"></i>
            </th>
            
            <th style="text-align:right" class="AngularTableHeaderColor"> <a href="@Url.Action("Create", "Vendors")" class="btn alert-success btn-sm" role="button"><i class="fa fa-plus"></i> New Vendor</a></th>

        </tr>
        <tr>
            <td style="padding:1px;height:20px;font-size:13px"><input style="padding:1px;height:20px;width:100%" ng-model="f.vendor_Name"></td>
            <td class=" d-none d-lg-table-cell" style="padding:1px;height:20px;font-size:13px"></td>
            <td class=" d-none d-lg-table-cell" ></td>
            <td></td>
        </tr>
   
            
        <tr ng-repeat="vendor in Vendors | filter:f | orderBy:sort.active:sort.descending">
            @* Fetch All the Vendor record using ng-repeat *@

            <td style="height:15px;padding:1px">{{vendor.vendor_Name}}</td>
            <td class=" d-none d-lg-table-cell" style="height:15px;padding:1px">{{vendor.email}}</td>
            <td class=" d-none d-lg-table-cell" style="height:15px;padding:1px">{{vendor.phone}}</td>



            <td style="height:15px;padding:1px;text-align:right;vertical-align:central;width:150px">
                <button ng-click="RedirectToEdit(vendor)" class="btn btn-outline-success AngularButtons">
                    <i class="fa fa-pen"></i>
                </button> |
                <button ng-click="RedirectToDetails(vendor)" class="btn btn-outline-info AngularButtons">
                <i class="fa fa-clipboard"></i>
                </button> |

                <button ng-click="DelVendor(vendor)" class="btn btn-outline-danger AngularButtons">
                    <i class="fa fa-trash"></i>
                </button>
            </td>


        </tr>

        </table>
</div>
<div>
    <a href="@Url.Action("Create", "Vendors")" class="btn alert-success" role="button"><i class="fa fa-plus"></i> New Vendor</a>
</div>   




