@model Recitopia.Models.Customer_Users

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" class="table-borderless">
    <tr>
        <th style="font-size:30px;background-color:blanchedalmond">
            Create Customer User
        </th>
    </tr>

</table>
@if (ViewBag.ErrorMessage != null)
{
    <font style="color:red">@ViewBag.ErrorMessage</font>
}
<div class="row">
    <div style="width:350px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <label asp-for="User_Name" class="control-label"></label><br />
                <select asp-for="User_Id"
                        asp-items="ViewBag.AppUsers">
                </select>
                <span asp-validation-for="User_Id" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Customer_Name" class="control-label"></label><br />
                <select asp-for="Customer_Id"
                        asp-items="ViewBag.Customers">
                </select>
                <span asp-validation-for="Customer_Id" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

