@{
    ViewData["Title"] = "Home Page";
}

    <div class="container rounded-lg box effect8" style="background-color:navajowhite">

        <table>
            <tr>
                <td style="font-size:2vw;font-family:Cambria;vertical-align:middle;text-align:center;padding:4px">

                    Build your recipes from the ground up. See nutrition and cost details in one location.

                </td>
            </tr>
            <tr>
                <td style="font-size:6vw;vertical-align:top;text-align:center;padding:4px"><strong>Recitopia</strong></td>
            </tr>
            <tr>
                <td style="font-size:2vw;font-family:Cambria;vertical-align:middle;text-align:center;padding:4px">
                    Create and order and determine the required ingredient amounts for easy ordering and supply management.
                </td>
            </tr>
        </table>
    </div>
