@{
    ViewData["Title"] = "Home Page";
}

    
<div >
    <table border="0" style="width:100%;height:100%">
        <tr>
            <td style="font-size:2vw;font-family:Cambria;vertical-align:middle;text-align:center;padding:10px">

                Build your recipes from the ground up. See nutrition and cost details in one location.

            </td>
        </tr>
        <tr>
            <td style="font-size:6vw;vertical-align:top;text-align:center;padding:4px"><strong><font style="color:maroon">Recitopia</font></strong></td>
        </tr>
        <tr>
            <td style="font-size:2vw;font-family:Cambria;vertical-align:middle;text-align:center;padding:10px">
                Create and order and determine the required ingredient amounts for easy ordering and supply management.
            </td>
        </tr>
    </table>
</div>
        
   
