@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron pageBanner">

        <table border="0" width="100%">
            <tr>
                <td width="30%" style="font-size:1.5vw;vertical-align:middle;text-align:center;">

                    Build your recipes from the ground up. See nutrition and cost details in one location.

                </td>
            </tr>
            <tr>
                <td width="40%" style="font-size:5vw;vertical-align:top;text-align:center;"><strong>Recitopia</strong></td>
            </tr>
            <tr>
                <td width="30%" style="font-size:1.5vw;vertical-align:middle;text-align:center;">
                    Create and order and determine the required ingredient amounts for easy ordering and supply management.
                </td>
            </tr>
        </table>
    </div>
