@model Recitopia.Models.Serving_Sizes

@{
    ViewBag.Title = "Create";
}

    <table style="width:100%" class="table table-borderless rounded-sm box effect8">
        <tr>
            <th style="font-size:20px;background-color:blanchedalmond">
                New Serving Size
            </th>
        </tr>

    </table>
    <br />
        <div style="width:350px;font-size:13px">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Serving_Size" class="control-label" style="font-weight:bold"></label>
                    <input asp-for="Serving_Size" class="form-control"  style="font-size:13px"/>
                    <span asp-validation-for="Serving_Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notes" class="control-label" style="font-weight:bold"></label>
                    <textarea asp-for="Notes" class="form-control" style="font-size:13px"></textarea>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn alert-success effect8" />
                </div>
            </form>
        </div>
    