@model Recitopia.Models.AppRole

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table style="width:100%">
    <tr>
        <th>
            Edit
        </th>
    </tr>

</table>
<table style="width:100%" class="table table-borderless rounded-sm box effect8">
    <tr class="pageBannerAdmin">
        <th style="font-size:20px">
            @Model.Name
        </th>
    </tr>

</table>
<br />
<div style="width:350px">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        @*<div class="form-group">
                <label asp-for="NormalizedName" class="control-label"></label>
                <input asp-for="NormalizedName" class="form-control" />
                <span asp-validation-for="NormalizedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcurrencyStamp" class="control-label"></label>
                <input asp-for="ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="ConcurrencyStamp" class="text-danger"></span>
            </div>*@
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary effect8" />
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

