@model IEnumerable<Recitopia.Models.Recipe_Ingredients>

@{
    ViewBag.Title = "Recipe Ingredients";
}

<table width="100%" class="table table-borderless">
    <tr class="pageBanner">
        <th style="font-size:30px">
            @ViewBag.RecipeName (Ingredient List)
        </th>
    </tr>
</table>

<div ng-app="myApp" ng-controller="RecipeIngredients" ng-init="Recipe_Id=(@ViewBag.RecipeNameID)" class="container-fluid" style="font-size:13px">
    @* Use ng-controller *@
      
    <table style="width:75%">
        <tr>
            <td>
                <div ng-if="(Ingredients|filter:query).length > 0">
                    <table width="100%" class="table table-condensed table-hover table-striped table-bordered table-responsive-lg">
                        <tr>
                            <th class="AngularTableHeaderColor" style="vertical-align:bottom">
                                <a href="" ng-click="changeSorting('ingred_Name')"><font style="color:black">Ingredient Name</font></a>
                                <i class="fa fa-caret-left" ng-class="getIcon('ingred_Name')"></i>
                            </th>
                            <th class="AngularTableHeaderColor" style="vertical-align:bottom">
                                <a href="" ng-click="changeSorting('amount_g')"><font style="color:black">Amount g</font></a>
                                <i class="fa fa-caret-left" ng-class="getIcon('amount_g')"></i>
                            </th>



                            <th style="text-align:right" class="AngularTableHeaderColor"><a href="@Url.Action("Create", "Recipe_Ingredients", new { recipeID = ViewBag.RecipeNameID })" class="btn alert-success btn-sm" role="button"><i class="fa fa-plus"></i> Add Ingredient</a></th>


                        </tr>
                        <tr>
                            <td style="font-size:13px"><input style="padding:1px;height:20px;width:100%" ng-model="f.ingred_Name"></td>
                            <td></td>
                            <td></td>

                        </tr>


                        <tr ng-repeat="ingredient in Ingredients | filter:f | orderBy:sort.active:sort.descending">
                            <td style="height:15px;padding:1px">{{ingredient.ingred_name}}</td>
                            <td style="height:15px;padding:1px">
                                <div ng-show="!ingredient.edit.amount_g"
                                     ng-click="ingredient.edit.amount_g = !ingredient.edit.amount_g">
                                    <i class="fa fa-pencil"></i>{{ingredient.amount_g}}
                                </div>

                                <input type="number" min="0" step="0.001" style="width:75px" ng-show="ingredient.edit.amount_g"
                                       ng-blur="ingredient.edit.amount_g = !ingredient.edit.amount_g"
                                       ng-model="ingredient.amount_g" />

                            </td>


                        

                            <td style="height:15px;padding:1px;text-align:right;vertical-align:central;width:150px">
                                <button ng-click="RedirectToEdit(ingredient)" class="btn btn-outline-success AngularButtons">
                                    <i class="fa fa-pen"></i>
                                </button> |
                                @*<button ng-click="RedirectToDetails(ingredient)" class="btn btn-outline-info AngularButtons">
                                    <i class="fa fa-clipboard"></i>
                                </button> |*@

                                <button ng-click="DelIngredient(ingredient)" class="btn btn-outline-danger AngularButtons">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>




                        </tr>
                        <tr>
                            <td colspan="1">
                                <div>
                                    <div ng-if="resultMessage == 'Update Successful'">

                                        <font style="color:darkgreen">{{resultMessage}}</font><i class="fa fa-check"></i>
                                    </div>
                                    <div ng-if="resultMessage == 'Error saving'">

                                        <font style="color:red">{{resultMessage}}</font><i class="fa fa-exclamation"></i>
                                    </div>
                                </div>
                            </td>
                            <td align="right" colspan="3">
                                <div ng-if="(Ingredients|filter:query).length > 0">
                                    <button class="btn alert-warning AngularButtons border-dark" ng-click="RedirectToUpdate(Ingredients)">
                                        &nbsp;<i style="height:15px" class=" fa fa-save"></i> Save your changes&nbsp;
                                    </button>
                                </div>
                            </td>

                        </tr>

                    </table>

                </div>
            </td>
        </tr>
    </table>
    
        
    </div>
    
<div ng-if="(Ingredients|filter:query).length > 0">
    <a href="@Url.Action("Create", "Recipe_Ingredients", new { recipeID = ViewBag.RecipeNameID })" class="btn alert-success" role="button"><i class="fa fa-plus"></i> Add Ingredient</a>
</div>























