@model Recitopia.Models.Customers

@{
    ViewData["Title"] = "Create Customer Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table style="width:100%" class="table table-borderless rounded-sm box effect8">
        <tr>
            <th style="font-size:20px;background-color:blanchedalmond">
                New Customer Group
            </th>
        </tr>
        <tr>
            <td style="font-size:15px">
                Upon Creation, you will be added to the Customer Group and be able to start work right away!
            </td>
        </tr>
    </table>
    <br />
    <div style="width:300px">

        <form asp-action="CreateCustomerGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <font style="color:red">*</font>
                <label asp-for="Customer_Name" style="font-weight:bold" class="control-label"></label>
                <input asp-for="Customer_Name" class="form-control" />
                <span asp-validation-for="Customer_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" required class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address1" class="control-label"></label>
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Web_URL" class="control-label"></label>
                <input asp-for="Web_URL" class="form-control" />
                <span asp-validation-for="Web_URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary effect8" />
            </div>
        </form>
    </div>



