@model IEnumerable<Recitopia.Models.Customer_Users>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />
    <table style="width:315px" class="table table-bordered table-hover">
        <tr class="pageBanner">
            <th style="font-size:30px">
                Customer Selection
            </th>
        </tr>
        @if (ViewBag.UserCustomers != null)
        {
            @foreach (var item in ViewBag.UserCustomers)
            {
                <tr>
                    <td>
                        <a asp-action="CustomerLoginGo" asp-route-id="@item[1]">@item[0]</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <span>You are not associated to any customers. </span>
                </td>
            </tr>
        }
</table>

